com.ibm.streamsx.dps/impl/ext
com.ibm.streamsx.dps/impl/java/classes
com.ibm.streamsx.dps/doc/spldoc
com.ibm.streamsx.dps/impl/nl/DPSToolkitResource.dat
com.ibm.streamsx.dps/impl/nl/include
*.o
*.so
*.jar
toolkit.xml
output

